# SPDX-License-Identifier: GPL-2.0-only
[Unit]
Description=Mount the IPE test payload
[Mount]
What=/dev/disk/by-label/ipe-payload
Where=/run/ipe-tests
Type=ext4
Options=ro
